@model List<ProjectManagerDAL.Entities.Folder>
@{
    Layout = null;
}
@foreach (var item in Model)
{
    <li id="folder_@item.Id" folderId="@item.Id"><i class="icon-folder-open"></i><a>@item.Description</a></li>
}